* {
	margin: 0;
	font-family: Roboto, sans-serif;
}

/* Header */

.header {
	background-color: lightgrey;
	height: 15vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

input[type='text'] {
	width: 500px;
	height: 50px;
	font-size: 20px;
	vertical-align: middle;
	border: solid black 1px;
	padding: 0px;
	padding-left: 1px;
}

.search-button {
	min-height: 51.6px;
	margin-left: -5px;
	position: relative;
	top: 0.5px;
	background-color: white;
	border: solid black 1px;
	border-left: none;
}

/* Content */

.content {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 85vh;
}

.information {
	height: 250px;
	width: 500px;
	background-color: lightgrey;
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 20px;
	border-radius: 20px;
}

.information-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.information-content {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto;
}

.temperature-label {
	vertical-align: top;
	font-weight: bold;
}

/* Temperature unit switch */

.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
	background-color: grey;
	border-radius: 20px;
}

.switch::after {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: white;
	top: 0px;
	left: 0px;
	transition: all 0.3s;
}

.checkbox:checked + .switch::after {
	left: 20px;
}
.checkbox:checked + .switch {
	background-color: #2196f3;
}

.checkbox {
	display: none;
}
